<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Display Resources</title>
    
    <style> 
        @import url(style.css);
    </style>
</head>

<body>
    <div id="outside">
    <div id="inside">

        <h1>Searched Topics Data</h1>

        <p>Looking at how often each topic gets searched highlight what 
            people are actually curious, confused, or concerned about. If one topic (like ADHD
            or chronic illness) keeps getting searched more than others, that tells us that
            it's an important area where people want accessible information and support.
        </p>

        <p>It also shows patterns in what people look for over time. Seeing the most recent searched gives 
            a sense of what's currently relevant or on peoples minds.</p>

        <p>Overall, having topic level stats makes the project more than just a search tool-
            it becomes somehting that can help identify needs, spot trends, and guide what kinds of
            resources might matter most for users.
        </tool-></p><br>
        
        <div class="table-container-2">
            <%- table %>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <form id="displayForm" action="/" method="GET">
            <button type="submit">Back to Main Page</button>
        </form>

    </div>
    </div>
</body>

</html>